<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="code coverage">
        <Configuration>
          <Format>json,lcov,cobertura,opencover</Format>
          <Exclude>[Bogus*]*,[Autofac*]*,[FakeItEasy*]*,[Moq*]*,[xunit*]*,[Microsoft.*]*,[XunitXml*]*,[coverlet.*]*,[System.*]*,[*]JetBrains.Annotations*</Exclude>
          <Include>[OmniSharp.*]*</Include>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <CodeCoverage>
            <Attributes>
              <Exclude>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <Functions>
              <Exclude>
                <Function>^Bogus.*</Function>
                <Function>^DryIoc.*</Function>
                <Function>^FakeItEasy.*</Function>
                <Function>^FluentAssertions.*</Function>
                <Function>^JetBrains\..*</Function>
                <Function>^Microsoft\..*</Function>
                <Function>^Moq.*</Function>
                <Function>^NSubstitute.*</Function>
                <Function>^Nuke.*</Function>
                <Function>^Serilog.*</Function>
                <Function>^System\..*</Function>
                <Function>^TUnit.*</Function>
                <Function>^Verify.*</Function>
                <Function>^XUnit.*</Function>
              </Exclude>
            </Functions>
            <ModulePaths>
              <Include>
                <ModulePath>.*\.build\.dll</ModulePath>
                <ModulePath>.*Client\.dll</ModulePath>
                <ModulePath>.*Client\.Tests\.dll</ModulePath>
                <ModulePath>.*Dap\.Client\.dll</ModulePath>
                <ModulePath>.*Dap\.Protocol\.dll</ModulePath>
                <ModulePath>.*Dap\.Protocol\.Proposals\.dll</ModulePath>
                <ModulePath>.*Dap\.Server\.dll</ModulePath>
                <ModulePath>.*Dap\.Shared\.dll</ModulePath>
                <ModulePath>.*Dap\.Testing\.dll</ModulePath>
                <ModulePath>.*Dap\.Tests\.dll</ModulePath>
                <ModulePath>.*Generation\.Tests\.dll</ModulePath>
                <ModulePath>.*JsonRpc\.dll</ModulePath>
                <ModulePath>.*JsonRpc\.Generators\.dll</ModulePath>
                <ModulePath>.*JsonRpc\.Testing\.dll</ModulePath>
                <ModulePath>.*JsonRpc\.Tests\.dll</ModulePath>
                <ModulePath>.*Lsp\.Integration\.Tests\.dll</ModulePath>
                <ModulePath>.*Lsp\.Tests\.dll</ModulePath>
                <ModulePath>.*Protocol\.dll</ModulePath>
                <ModulePath>.*Protocol\.Proposals\.dll</ModulePath>
                <ModulePath>.*SampleServer\.dll</ModulePath>
                <ModulePath>.*Server\.dll</ModulePath>
                <ModulePath>.*Shared\.dll</ModulePath>
                <ModulePath>.*Testing\.dll</ModulePath>
                <ModulePath>.*TestingUtils\.dll</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Bogus\.dll</ModulePath>
                <ModulePath>.*coverlet\.collector\.dll</ModulePath>
                <ModulePath>.*coverlet\.msbuild\.dll</ModulePath>
                <ModulePath>.*DryIoc\.Internal\.dll</ModulePath>
                <ModulePath>.*FluentAssertions\.dll</ModulePath>
                <ModulePath>.*GitVersion\.Tool\.dll</ModulePath>
                <ModulePath>.*MediatR\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.CSharp\.Workspaces\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Configuration\.Binder\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Configuration\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.DependencyInjection\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Logging\.Debug\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Logging\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Options\.ConfigurationExtensions\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Options\.dll</ModulePath>
                <ModulePath>.*Microsoft\.NET\.Test\.Sdk\.dll</ModulePath>
                <ModulePath>.*Microsoft\.NETFramework\.ReferenceAssemblies\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Reactive\.Testing\.dll</ModulePath>
                <ModulePath>.*Microsoft\.SourceLink\.GitHub\.dll</ModulePath>
                <ModulePath>.*Nerdbank\.Streams\.dll</ModulePath>
                <ModulePath>.*NETStandard\.Library\.dll</ModulePath>
                <ModulePath>.*Newtonsoft\.Json\.dll</ModulePath>
                <ModulePath>.*NSubstitute\.dll</ModulePath>
                <ModulePath>.*ReportGenerator\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.CI\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.SourceLink\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Nuke\.dll</ModulePath>
                <ModulePath>.*Serilog\.Extensions\.Logging\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Debug\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.File\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Observable\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.XUnit\.dll</ModulePath>
                <ModulePath>.*Snapper\.dll</ModulePath>
                <ModulePath>.*System\.Collections\.Immutable\.dll</ModulePath>
                <ModulePath>.*System\.Reactive\.dll</ModulePath>
                <ModulePath>.*System\.Threading\.Channels\.dll</ModulePath>
                <ModulePath>.*Verify\.SourceGenerators\.dll</ModulePath>
                <ModulePath>.*Verify\.Xunit\.dll</ModulePath>
                <ModulePath>.*xunit\.dll</ModulePath>
                <ModulePath>.*xunit\.runner\.visualstudio\.dll</ModulePath>
                <ModulePath>.*Xunit\.SkippableFact\.dll</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>