root=true
[*]
charset=utf-8
indent_style=space
indent_size=4
trim_trailing_whitespace=true
insert_final_newline=true
max_line_length=180
end_of_line=crlf

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=types,methods,properties,indexers,events,event_accessors,control_blocks,anonymous_types,object_collections,array_initializers,local_functions
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_between_parentheses=expressions
csharp_style_expression_bodied_accessors=true:suggestion
csharp_style_expression_bodied_constructors=true:none
csharp_style_expression_bodied_indexers=true:none
csharp_style_expression_bodied_methods=true:none
csharp_style_expression_bodied_operators=true:none
csharp_style_expression_bodied_properties=true:suggestion
csharp_style_var_elsewhere=true:warning
csharp_style_var_for_built_in_types=true:warning
csharp_style_var_when_type_is_apparent=true:warning
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:warning
dotnet_style_predefined_type_for_locals_parameters_members=true:error
dotnet_style_predefined_type_for_member_access=true:error
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first=true
# Suggest more modern language features when available
dotnet_style_coalesce_expression=true:error
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:error
dotnet_style_null_propagation=true:warning
dotnet_style_object_initializer=true:warning

# Naming Conventions:
# Pascal Casing
#dotnet_naming_symbols.method_and_property_symbols.applicable_kinds= method,property,enum
#dotnet_naming_symbols.method_and_property_symbols.applicable_accessibilities = *
#dotnet_naming_style.pascal_case_style.capitalization = pascal_case
csharp_style_conditional_delegate_call=true:suggestion
csharp_style_inlined_variable_declaration=true:error
csharp_style_pattern_matching_over_as_with_null_check=true:error
csharp_style_pattern_matching_over_is_with_cast_check=true:error
csharp_style_throw_expression=true:suggestion
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_anonymous_types=true

# ReSharper properties
resharper_accessor_declaration_braces=end_of_line
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_parameter=true
resharper_align_multiple_declaration=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_autodetect_indent_settings=true
resharper_constructor_or_destructor_body=expression_body
resharper_csharp_anonymous_method_declaration_braces=end_of_line
resharper_csharp_outdent_commas=true
resharper_csharp_outdent_dots=true
resharper_csharp_space_within_parentheses=true
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_before_declaration_rpar=true
resharper_csharp_wrap_before_invocation_rpar=true
resharper_enforce_line_ending_style=true
resharper_initializer_braces=end_of_line
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_keep_existing_enum_arrangement=true
resharper_keep_existing_switch_expression_arrangement=false
resharper_max_initializer_elements_on_line=2
resharper_method_or_operator_body=expression_body
resharper_outdent_binary_ops=true
resharper_place_comments_at_first_column=true
resharper_place_simple_enum_on_single_line=true
resharper_space_around_arrow_op=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_heuristics_for_body_style=false
resharper_use_indent_from_vs=false
resharper_wrap_lines=true
resharper_xmldoc_allow_far_alignment=true
resharper_xmldoc_attribute_style=on_single_line
resharper_xmldoc_indent_text=ZeroIndent
resharper_xmldoc_max_blank_lines_between_tags=1
resharper_xmldoc_pi_attribute_style=on_single_line
resharper_xmldoc_space_after_last_pi_attribute=true

# ReSharper inspection severities
resharper_annotate_can_be_null_parameter_highlighting=warning
resharper_annotate_can_be_null_type_member_highlighting=warning
resharper_arrange_missing_parentheses_highlighting=warning
resharper_arrange_this_qualifier_highlighting=warning
resharper_built_in_type_reference_style_for_member_access_highlighting=error
resharper_built_in_type_reference_style_highlighting=error
resharper_enforce_do_while_statement_braces_highlighting=warning
resharper_enforce_fixed_statement_braces_highlighting=warning
resharper_enforce_foreach_statement_braces_highlighting=warning
resharper_enforce_for_statement_braces_highlighting=warning
resharper_enforce_if_statement_braces_highlighting=warning
resharper_enforce_lock_statement_braces_highlighting=warning
resharper_enforce_using_statement_braces_highlighting=warning
resharper_enforce_while_statement_braces_highlighting=warning
resharper_redundant_default_member_initializer_highlighting=hint
resharper_remove_redundant_braces_highlighting=warning
resharper_suggest_var_or_type_built_in_types_highlighting=warning
resharper_suggest_var_or_type_elsewhere_highlighting=warning
resharper_suggest_var_or_type_simple_types_highlighting=warning
resharper_unnecessary_whitespace_highlighting=warning
resharper_use_null_propagation_when_possible_highlighting=suggestion
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

dotnet_diagnostic.VSTHRD200.severity = none

[*.{cs,cshtml}]
charset=utf-8
indent_style=space
indent_size=4
insert_final_newline=true

[*.{js,ts,vue}]
indent_style=space
indent_size=4
insert_final_newline=true

[*.{xml,yml,yaml}]
indent_style=space
indent_size=2
insert_final_newline=true

[*.json]
indent_style=space
indent_size=4
insert_final_newline=true

[*.{xml,csproj,props,targets}]
indent_style=space

[{*.har,*.inputactions,*.jsb2,*.jsb3,.babelrc,.eslintrc,.prettierrc,.stylelintrc,bowerrc,jest.config}]
indent_style=space
indent_size=2

[*.{appxmanifest,asax,ascx,aspx,build,cg,cginc,compute,cs,cshtml,dtd,fs,fsi,fsscript,fsx,hlsl,hlsli,hlslinc,master,ml,mli,nuspec,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
