name: Close Milestone
on:
  release:
    types:
      - released
jobs:
  close_milestone:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@master
        with:
          versionSpec: '5.x'

      - name: Install GitReleaseManager
        uses: gittools/actions/gitreleasemanager/setup@master
        with:
          versionSpec: '0.11.x'

      - name: Use GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@master

      # Ensure the milestone exists
      - name: Create Milestone
        uses: WyriHaximus/github-action-create-milestone@0.1.0
        with:
          title: v${{ steps.gitversion.outputs.majorMinorPatch }}
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        continue-on-error: true

      # move any issues to that milestone in the event the release is renamed
      - name: sync milestones
        uses: RocketSurgeonsGuild/actions/sync-milestone@v0.2.3
        with:
          default-label: 'mysterious'
          github-token: ${{ secrets.OMNISHARP_BOT_TOKEN }}

      - name: Get Repo and Owner
        shell: pwsh
        id: repository
        if: ${{ !github.event.release.prerelease && steps.gitversion.outputs.preReleaseTag == '' }}
        run: |
          $parts = $ENV:GITHUB_REPOSITORY.Split('/')
          echo "::set-output name=owner::$($parts[0])"
          echo "::set-output name=repository::$($parts[1])"

      - name: Close Milestone
        shell: pwsh
        if: ${{ !github.event.release.prerelease && steps.gitversion.outputs.preReleaseTag == '' }}
        run: |
          dotnet gitreleasemanager close `
            -o "${{ steps.repository.outputs.owner }}" `
            -r "${{ steps.repository.outputs.repository }}" `
            --token "${{ secrets.GITHUB_TOKEN }}" `
            -m "v${{ steps.gitversion.outputs.majorMinorPatch }}"
