name: Update Milestone
on:
  pull_request_target:
    types:
      - closed
      - opened
      - reopened
      - synchronize

jobs:
  update_milestone:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: sync milestones
        uses: RocketSurgeonsGuild/actions/sync-milestone@v0.2.9
        with:
          default-label: 'mysterious'
          github-token: ${{ secrets.GITHUB_TOKEN }}
